<h1 class="col-md-10 col-md-offset-4">Story List</h1>

<% @stories.each do |story| %>
  <div class="col-md-8 col-md-offset-3">
    <h3><a href="/stories/<%= story.id %>"><%= story.title %></a></h3> 
    <small><%= story.body %></small>
  </div>
<% end %>

