<div class="jumbotron">
  <h2><%= @track.song_title %> by <%= @track.artist %></h2>
  <p>Posted by: <%= @track.author %></p>
  <p> <%= @track.url %> </p>
  <p><a href="/tracks" class="btn btn-primary btn-lg" role="button">Back to Tracks</a></p>
</div>