<div class="jumbotron">
  <h2><%= @story.title %> by <%= current_user.user_name %></h2>
  <p> <%= @story.body %> </p>
  <p> <%= "We need to put in steps here" %> </p>
  <p><a href="/stories" class="btn btn-primary btn-lg" role="button">Back to Stories</a></p>
</div>