<h3>Add a Step</h3>
<form action="/stories/<%= @story.id %>/steps" method="post">
  <div>   
    <input type='textarea' name='Enter text' value='Hello there'>
  </div>   
  <div>
    <input type="submit" value="Submit">
  </div>
</form>
