<div class="backgroundimg"></div>
<div class="jumbotron">
  <div id="indexpush">
  <h1>Welcome to Adapt!</h1>
  <p>Share your awesome success stories!</p>
  <p>Learn the steps that need to be taken to succeed!</p>
  <p><a href="/stories" class="btn btn-primary btn-lg" role="button" id="startBTN">Check it out!</a></p>
  </div>
</div>

