<div class="jumbotron">
  <h1>Welcome to Adapt!</h1>
  <p>Share your awesome success stories!</p>
  <p>Learn the steps that need to be taken to succeed!</p>
  <p><a href="/tracks" class="btn btn-primary btn-lg" role="button">Check it out!</a></p>
</div>

