<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Adapt</title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/application.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link rel="stylesheet" href="/stylesheets/application.css">

  <title></title>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="nav">
    <h1>ADAPT</h1>
    <div class="container">
        <% if !current_user %>
          <button type="button" class="btn btn-default navbar-btn navbar-right" ><a href="/login">Login</a></button>
          <button type="button" class="btn btn-default navbar-btn navbar-right" ><a href="/register">Register</a></button>
          <button type="button" class="btn btn-default navbar-btn navbar-left"><a href="/register">Post Story</a></button>
        <% end %>
        <% if current_user %>
          <button type="button" class="btn btn-default navbar-btn navbar-right" ><a href="/logout" class="logout_button">Log out</a></button>
          <button type="button" class="btn btn-default navbar-btn navbar-left"><a href="/stories/new">Post Story</a></button>
        <% end %>
      <button type="button" class="btn btn-default navbar-btn navbar-left"><a href="/stories">Story Wall</a></button>
    </div>
  </nav>
  <%= yield %>

  <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation" id="foot">

      <% if current_user %>
       <div class="container">
         <button type="button" class="btn btn-default navbar-btn">
            Logged in as <%=current_user.user_name %>
         </button>
       </div>
      <% end %>

  </nav>  

  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>